html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: "roboto", "sans serif";
  }

  h1 {
    background-color: #3671cf;
    color: #fff;
    padding: 5px;
    font-size:20px;
  }

  .url_container {
    width:100%;
    text-align:center;
  }

  .urls {
    width: 500px;
    margin: 0 auto;
  }
  .url_text {
    width: 450px;
    height: 30px;
    margin: 0 auto;
    margin-bottom:20px;
  }

  .more_items {
    width: 360px;
    height: 40px;
  }

  .create_carousel {
    margin-left:10px;
    width:80px;
    height: 40px;
  }
